<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <img src="/images/bgk6.jpg" alt="" style="width:100%;position:absolute;height: 100%;">
    <div class="container" >
        <div class="row" style="margin-top:200px">
            <div class="col-md-5 col-md-offset-2">
                    <h1 style="padding-left:163px ;padding-bottom :50px">XXX后台管理系统</h1>
                    <form class="form-horizontal" action="/users/login" method="POST">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-5 control-label">用户名</label>
                          <div class="col-sm-7">
                            <input type="text" name="username" class="form-control" id="inputEmail3" placeholder="请输入用户名">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" name="password" class="col-sm-5 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                          <div class="col-sm-7">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10 col-md-offset-5">
                            <button type="submit" class="btn btn-default btn-primary" style=" padding: 7px 109px">登    入</button>
                          </div>
                        </div>
                      </form>
            </div>
        </div>
       

          
    </div>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>