<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
    <style>
      .canuse {
        color: greenyellow
      }
      .canont {
        color: darkviolet
      }
      .nonooo {
        position: absolute;
        right: -194px;
        top:8px;
        display: none;
        display: inline-block;
        width: 200px;
        text-align: left
      }
    </style>
</head>
<body>
    <img src="/images/bgk4.jpg" alt="" style="width:100%;position:absolute;height: 100%;">
    <div class="container" >
        <div class="row" style="margin-top:100px">
            <div class="col-md-5 col-md-offset-3">
              <h1 style="padding-left:163px ;padding-bottom :50px">XXX后台管理系统</h1>
                    <form class="form-horizontal" action="/users/register" method="POST">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-5 control-label">用户名</label>
                          <div class="col-sm-7">
                            <input type="text" name="username" class="form-control" id="inputUser" placeholder="请输入用户名">
                            <span class="nonooo" id="nonooo"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" name="password" class="col-sm-5 control-label">密码</label>
                          <div class="col-sm-7">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
                            <span class="nonooo" id="nonooo1"></span>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" name="repassword" class="col-sm-5 control-label">确认密码</label>
                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="reinputPassword4" placeholder="再次输入密码">
                              <span class="nonooo" id="nonooo2"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-5 control-label">昵称</label>
                            <div class="col-sm-7">
                              <input type="text" name="nickname" class="form-control" id="inputNickname" placeholder="请输入昵称">
                              <span class="nonooo" id="nonooo3"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-5 control-label">手机号码</label>
                            <div class="col-sm-7">
                              <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="请输入手机号码">
                              <span class="nonooo" id="nonooo4"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-5 control-label">管理员</label>
                            <div class="col-sm-7">
                              <input type="radio" name="isAdmin" value="1">yes
                              <input type="radio" name="isAdmin" value="0" checked>no
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10 col-md-offset-5">
                            <button type="submit" class="btn btn-default btn-primary"  id="register">注   册</button>
                          </div>
                        </div>
                      </form>
            </div>
        </div>     
    </div>
  
   
    <script src="/lib/jquery/jquery.min.js"></script>
    <!-- <script src="/lib/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/form.js"></script>
</body>
</html>