<div class="header">
  <div class="header_left">
    <h2 class="houtai">xx-后台管理系统</h2>
  </div>
  <div class="header_right">
    <p class="welcom">欢迎您- <span style="color:darkred;font-size: 14px"><%= nickname %></span><span style="color:darkturquoise;font-size: 12px"><%= isAdmin %></span></p>
    <button class="loutbtn">
      <a href="/users/logout">退出登录</a>
    </button>
  </div>
</div>
