<div class="menu">
  <ul>
    <% if (isAdmin) { %>
      <li class="menu_item">
        <a href="/user-manager.html" id="user-highlight">用户管理</a>
      </li>
    <% } %>

    <li class="menu_item">
      <a href="/mobile-manager.html" id="phone-highlight">手机管理</a>
    </li>
    <li class="menu_item">
      <a href="/brand-manager.html" id="brand-highlight">品牌管理</a>
    </li>
    <li class="menu_item">
        <a href="/" id="return-highlight">回到首页</a>
    </li>
  </ul>
</div>
