<div class="menu">
  <ul>
    <% if (isAdmin) { %>
      <li class="menu_item">
        <a href="/user-manager.html">用户管理</a>
      </li>
    <% } %>

    <li class="menu_item">
      <a href="/mobile-manager.html">手机管理</a>
    </li>
    <li class="menu_item">
        <a href="/">回到首页</a>
      </li>
  </ul>
</div>
